<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONTABILIDAD</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/perfilCoordinador">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/coordinador">Coordinador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lider">Lider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/digitador">Digitador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/votante">Votante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contabilidad">Contabilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/geolocalizacion">Geolocalizacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugar">Lugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/barrio">Barrio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comuna">Comuna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugarMesa">Lugar Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mesa">Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historial">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registraduria">Registraduria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <h4>Agregar Contabilidad </h4>

        <h6>Seleccione un Usuario:</h6>
        <select [(ngModel)]="seletedContabilidadAgregar.id_usuario" class="form-control" name="id_usuario">
            <option *ngFor="let item of coordinador" [value]="item.id_usuario">{{item.nom_usuario}}</option>
        </select>
        <textarea rows="5" cols="50" type="text" [(ngModel)]="seletedContabilidadAgregar.descripcion" placeholder="DESCRIPCION" name="descripcion"></textarea>
        <input type="text" [(ngModel)]="seletedContabilidadAgregar.valor" placeholder="VALOR $">
        <input type="text" [(ngModel)]="seletedContabilidadAgregar.nombre" placeholder="NOMBRE DE PATROCINADOR">
        <input type="text" [(ngModel)]="seletedContabilidadAgregar.identificacion" placeholder="IDENTIFICACION" name="identificacion">

        <button (click)="guardar()">Agregar</button>

        <div class="btn_Buscar">
            <h4>Buscar</h4>
            <input type="text" [(ngModel)]="seletedContabilidadBuscar.identificacion" placeholder="NUMERO DE IDENTIFICACION">
            <button (click)="buscar()">Buscar</button>
            <button (click)="listar()">listar</button>
        </div>
        <h4>Lista de Contabilidad </h4>
    </div>
    <div id="main-container">

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USUARIO</th>
                    <th>IDENTIFICACION</th>
                    <th>DESCRIPCION</th>
                    <th>VALOR</th>
                    <th>NOMBRE</th>
                    <th>OPERACION</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of contabilidadAux">
                    <td>{{item.id_contabilidad}}</td>
                    <td>
                        <div *ngIf="seletedContabilidadActualizar.id_contabilidad != item.id_contabilidad; else falso">
                            {{item.nom_usuario}}
                        </div>
                        <ng-template #falso>
                            <select [(ngModel)]="seletedContabilidadActualizar.id_usuario" class="form-control" name="id_usuario">
                                <option *ngFor="let item of coordinador" [value]="item.id_usuario">{{item.nom_usuario}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="seletedContabilidadActualizar.id_contabilidad != item.id_contabilidad; else falso1">
                            {{item.identificacion}}
                        </div>
                        <ng-template #falso1>
                            <input type="text" [(ngModel)]="seletedContabilidadActualizar.identificacion" name="identificacion">
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="seletedContabilidadActualizar.id_contabilidad != item.id_contabilidad; else falso2">
                            {{item.descripcion}}
                        </div>
                        <ng-template #falso2>
                            <input type="text" [(ngModel)]="seletedContabilidadActualizar.descripcion" name="descripcion">
                        </ng-template>

                    </td>
                    <td>
                        <div *ngIf="seletedContabilidadActualizar.id_contabilidad != item.id_contabilidad; else falso3">
                            {{item.valor}}
                        </div>
                        <ng-template #falso3>
                            <input type="text" [(ngModel)]="seletedContabilidadActualizar.valor" name="valor">
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="seletedContabilidadActualizar.id_contabilidad != item.id_contabilidad; else falso4">
                            {{item.nombre}}
                        </div>
                        <ng-template #falso4>
                            <input type="text" [(ngModel)]="seletedContabilidadActualizar.nombre" name="nombre">
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="seletedContabilidadActualizar.id_contabilidad == item.id_contabilidad; else falso5">
                            <button (click)="actualizacion()">Guardar</button>
                        </div>
                        <ng-template #falso5>
                            <button (click)="actualizar(item)">Actualizar</button>
                            <button (click)="eliminar(item)">Eliminar</button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


</body>

</html>