.main {
    margin: 1%;
}

.row {
    margin: 1%;
    justify-content: center;
}

.card {
    margin: 1%;
}

.card-header {
    text-align: center;
}

div .btn-group {
    width: 100%;
}

form button {
    margin: 10px;
}