<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIDER</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/perfilCoordinador">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/coordinador">Coordinador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/lider">Lider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/digitador">Digitador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/votante">Votante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contabilidad">Contabilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/geolocalizacion">Geolocalizacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugar">Lugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/barrio">Barrio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comuna">Comuna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugarMesa">Lugar Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mesa">Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historial">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registraduria">Registraduria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-6 p-2" *ngFor="let item of liderAux">
                <div class="card">
                    <b><div class="card-header">{{item.nom_lider}}</div></b><br>
                    <div class="card-body text-center">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>CEDULA:</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso">
                                            {{item.ced_lider}}
                                        </div>
                                        <ng-template #falso>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.ced_digitador" class="form-control" id="ced_digitador" name="ced_digitador">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                                <tr>
                                    <td>NOMBRE:</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso20">
                                            {{item.nom_lider}}
                                        </div>
                                        <ng-template #falso20>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.nom_digitador" class="form-control" id="nom_digitador" name="nom_digitador">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                                <tr>
                                    <td>COMUNA DE VOTACION</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso2">
                                            {{item.comuna_lugar}}
                                        </div>
                                        <ng-template #falso2>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.tel_digitador" class="form-control" id="tel_digitador" name="tel_digitador">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>LUGAR DE VOTACION</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso3">
                                            {{item.nom_lugar}}
                                        </div>
                                        <ng-template #falso3>
                                            <div class="form-group">
                                                <select [(ngModel)]="seletedListarDigitador.bar_usu" (ngModelChange)="SelectBarrio($event)" class="form-control" name="item.nom_bar">
                                                        <option *ngFor="let item of barrioAux" [value]="item.nom_bar">{{item.nom_bar}}</option>
                                                    </select>
                                                <!-- <input type="text" [(ngModel)]="seletedListarDigitador.bar_usu" class="form-control" id="bar_usu" name="bar_usu"> -->
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>COMUNA BARRIO</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider; else falso4">
                                            {{item.comuna_barrio}}
                                        </div>
                                        <ng-template #falso4>
                                            <div class="form-group">
                                                <select [(ngModel)]="seletedListarDigitador.ocupacion" class="form-control" name="item.nom_per_pro">
                                                            <option *ngFor="let item of perfilProfesional" [value]="item.nom_per_pro">{{item.nom_per_pro}}</option>
                                                        </select>
                                                <!-- <input type="text" [(ngModel)]="seletedListarDigitador.ocupacion" class="form-control" id="ocupacion" name="ocupacion"> -->
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                                <tr>
                                    <td>BARRIO</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso21">
                                            {{item.nom_barrio}}
                                        </div>
                                        <ng-template #falso21>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.departamento" class="form-control" id="departamento" name="departamento">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>COORDINADOR</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider; else falso14">
                                            {{item.nom_usuario}}
                                        </div>
                                        <ng-template #falso14>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.mesa" class="form-control" id="mesa" name="mesa">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                                <tr>
                                    <td>MUNICIPIO</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso5">
                                            {{item.municipio}}
                                        </div>
                                        <ng-template #falso5>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.user_usu" class="form-control" id="user_usu" name="user_usu">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>DEPARTAMENTO</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso6">
                                            {{item.departamento}}
                                        </div>
                                        <ng-template #falso6>
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="seletedListarDigitador.contrasena" class="form-control" id="contrasena" name="contrasena">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                                <tr>
                                    <td>MESA</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider ; else falso7">
                                            {{item.nom_mesa}}
                                        </div>
                                        <ng-template #falso7>
                                            <div class="form-group">

                                                <select [(ngModel)]="seletedListarDigitador.id_comuna" (ngModelChange)="selectComuna($event)" class="form-control" name="item.id_comuna">
                                                   <option *ngFor="let item of comuna" [value]="item.id_comuna">{{item.nom_com}}</option>        
                                               </select>

                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TELEFONO</td>
                                    <td>
                                        <div *ngIf="seletedLiderListar.id_lider!=item.id_lider; else falso8">
                                            {{item.tel_lider}}
                                        </div>
                                        <ng-template #falso8>
                                            <div class="form-group">
                                                <select [(ngModel)]="seletedListarDigitador.id_sector" (ngModelChange)="selectSector($event)" class="form-control" name="tipo.id_sector">
                                                    <option *ngFor="let tipo of sectorAux" [value]="tipo.id_sector">{{tipo.nom_sec}}</option>
                                                </select>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="seletedLiderListar.id_lider==item.id_lider; else falso9">
                        <button class="btn btn-success" (click)="actualizacion()">Guardar</button>
                    </div>
                    <ng-template #falso9>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" (click)="actualizar(item)">Editar</button>
                            <button type="button" class="btn btn-danger" (click)="eliminar(item.id_usuario)">Eliminar</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</body>

</html>