<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIDER</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/perfilCoordinador">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/coordinador">Coordinador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/lider">Lider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/digitador">Digitador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/votante">Votante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contabilidad">Contabilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/geolocalizacion">Geolocalizacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugar">Lugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/barrio">Barrio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comuna">Comuna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugarMesa">Lugar Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mesa">Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historial">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registraduria">Registraduria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <div class="card">
            <b><div class="card-header">ADMINISTRACION DE LIDER A  REGISTRAR</div></b>
            <form>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <a type="button" class="enlace" href="https://wsp.registraduria.gov.co/censo/consultar/" target="_blank">BUSCAR VOTANTE EN LA REGISTRADURIA</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-8 p-2">
                        <b><label for="form-control">INFORMACIÓN DEL LUGAR DE VOTACIÓN</label></b>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <input type="text" [(ngModel)]="seletedLiderAgregar.ced_lider" placeholder="Cedula" class="form-control" name="ced_lider">

                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <input type="text" [(ngModel)]="seletedLiderAgregar.nom_lider" placeholder="Nombres" class="form-control" name="nom_lider">

                    </div>


                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <input type="text" [(ngModel)]="seletedLiderAgregar.municipio" placeholder="Municipio " class="form-control" name="municipio">

                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <input type="text" [(ngModel)]="seletedLiderAgregar.departamento" placeholder="Departamento " class="form-control" name="departamento">

                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <input type="text" [(ngModel)]="seletedLiderAgregar.tel_lider" placeholder="Telefono" class="form-control" name="tel_lider">

                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione Comuna Barrio:</h6>
                        <select [(ngModel)]="seletedLiderAgregar.id_comunaB" (ngModelChange)="SelectComunaBAgregar($event)" class="form-control" name="item.id_comunaB">
                                <option *ngFor="let item of comunaBAux" [value]="item.id_comuna">{{item.nom_comuna}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione El Barrio:</h6>
                        <select [(ngModel)]="seletedLiderAgregar.id_barrio" (ngModelChange)="SelectBarrioAgregar($event)" class="form-control" name="item.nom_comuna">
                                <option *ngFor="let item of barrioAux" [value]="item.id_barrio">{{item.nom_barrio}}</option>
                            </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione Comuna Lugar:</h6>
                        <select [(ngModel)]="seletedLiderAgregar.id_comunaL" (ngModelChange)="SelectComunaLAgregar($event)" class="form-control" name="item.id_comunaL">
                                <option *ngFor="let item of comunaLAux" [value]="item.id_comuna">{{item.nom_comuna}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione El Lugar:</h6>
                        <select [(ngModel)]="seletedLiderAgregar.id_lugar" (ngModelChange)="SelectLugarAgregar($event)" class="form-control" name="item.id_lugar">
                                <option *ngFor="let item of lugarAux" [value]="item.id_lugar">{{item.nom_lugar}}</option>
                            </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione Mesa:</h6>
                        <select [(ngModel)]="seletedLiderAgregar.id_mesa" class="form-control" name="item.id_mesa">
                                <option *ngFor="let item of mesaAux" [value]="item.id_mesa">{{item.nom_mesa}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione coordinador:</h6>
                        <select [(ngModel)]="seletedLiderAgregar.id_usuario" class="form-control" name="item.id_usuario">
                                <option *ngFor="let item of coordinador" [value]="item.id_usuario">{{item.nom_usuario}}</option>
                        </select>
                    </div>
                </div>
                <button class="btn" (click)="guardar()">Registrar</button>
            </form>
        </div>


        <div class="card">
            <b><div class="card-header">LISTAR LIDERES</div></b><br>
            <h6> <b>Buscar Por:</b> </h6>
            <form>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione Barrio:</h6>
                        <select [(ngModel)]="seletedBarrioBuscar.id_barrio" (ngModelChange)="selectBarriorBuscar($event)" class="form-control" name="item.id_barrio">
                            <option *ngFor="let item of barrio" [value]="item.id_barrio">{{item.nom_barrio}}</option>        
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione Lugar De votacion:</h6>
                        <select [(ngModel)]="seletedLugarBuscar.id_lugar" (ngModelChange)="selectLugarBuscar($event)" class="form-control" name="item.id_lugar">
                            <option *ngFor="let item of lugar" [value]="item.id_lugar">{{item.nom_lugar}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione El Coordinador</h6>
                        <select [(ngModel)]="seletedCoordinadorBuscar.id_usuario" (ngModelChange)="selectCoordinadorBuscar($event)" class="form-control" name="item.id_usuario">
                            <option *ngFor="let item of coordinador" [value]="item.id_usuario">{{item.nom_usuario}}</option>
                        </select>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Seleccione El Lider</h6>
                        <select [(ngModel)]="seletedLiderBuscar.id_lider" (ngModelChange)="selectLiderBuscar($event)" class="form-control" name="item.id_lider">
                            <option *ngFor="let item of lider" [value]="item.id_lider">{{item.nom_lider}}</option>
                        </select>
                    </div>


                    <div class="col-sm-12 col-md-6 col-xl-4 p-2">
                        <h6>Digite Cedula</h6>
                        <input type="text" [(ngModel)]="seletedLiderBuscar.ced_lider" placeholder="Cedula" class="form-control" name="ced_lider">
                    </div>
                </div>
                <button type="button" class="btn" (click)="buscar()">Buscar</button>
                <button type="button" class="btn" (click)="listar()">Listar</button>
                <button type="button" class="btn" (click)="exportAsXLSX()">Exportar Exel</button>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-6 p-2" *ngFor="let item of liderAux">
                    <div class="card">
                        <b><div class="card-header">{{item.nom_lider}}</div></b><br>
                        <div class="card-body text-center">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>CEDULA:</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider ; else falso">
                                                {{item.ced_lider}}
                                            </div>
                                            <ng-template #falso>
                                                <div class="form-group">
                                                    <input type="text" [(ngModel)]="seletedLiderActualizar.ced_lider" class="form-control" id="ced_lider" name="ced_lider">
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>NOMBRE:</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider ; else falso20">
                                                {{item.nom_lider}}
                                            </div>
                                            <ng-template #falso20>
                                                <div class="form-group">
                                                    <input type="text" [(ngModel)]="seletedLiderActualizar.nom_lider" class="form-control" id="nom_lider" name="nom_lider">
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>COMUNA DE VOTACION</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider ; else falso2">
                                                {{item.comuna_lugar}}
                                            </div>
                                            <ng-template #falso2>
                                                <div class="form-group">
                                                    <select [(ngModel)]="seletedLiderActualizar.id_comunaL" (ngModelChange)="SelectComunaLActualizar($event)" class="form-control" name="item.id_comuna">
                                                        <option *ngFor="let item of comunaLAux" [value]="item.id_comuna">{{item.nom_comuna}}</option>
                                                    </select> </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LUGAR DE VOTACION</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider ; else falso3">
                                                {{item.nom_lugar}}
                                            </div>
                                            <ng-template #falso3>
                                                <div class="form-group">
                                                    <select [(ngModel)]="seletedLiderActualizar.id_lugar" (ngModelChange)="SelectLugarActualizar($event)" class="form-control" name="item.id_lugar">
                                                        <option *ngFor="let item of lugarAux" [value]="item.id_lugar">{{item.nom_lugar}}</option>
                                                    </select>
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>COMUNA BARRIO</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider; else falso4">
                                                {{item.comuna_barrio}}
                                            </div>
                                            <ng-template #falso4>
                                                <div class="form-group">
                                                    <select [(ngModel)]="seletedLiderActualizar.id_comunaB" (ngModelChange)="SelectComunaBActualizar($event)" class="form-control" name="item.id_comunaB">
                                                        <option *ngFor="let item of comunaBAux" [value]="item.id_comuna">{{item.nom_comuna}}</option>
                                                    </select>
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>BARRIO</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider ; else falso21">
                                                {{item.nom_barrio}}
                                            </div>
                                            <ng-template #falso21>
                                                <div class="form-group">
                                                    <select [(ngModel)]="seletedLiderActualizar.id_barrio" (ngModelChange)="SelectBarrioActualizar($event)" class="form-control" name="item.id_barrio">
                                                        <option *ngFor="let item of barrioAux" [value]="item.id_barrio">{{item.nom_barrio}}</option>
                                                    </select> </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>COORDINADOR</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider; else falso14">
                                                {{item.nom_usuario}}
                                            </div>
                                            <ng-template #falso14>
                                                <div class="form-group">
                                                    <select [(ngModel)]="seletedLiderActualizar.id_usuario" (ngModelChange)="SelectCoordinadorActualizar($event)" class="form-control" name="item.id_usuario">
                                                        <option *ngFor="let item of coordinadorAux" [value]="item.id_usuario">{{item.nom_usuario}}</option>
                                                    </select> </div>
                                            </ng-template>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>MUNICIPIO</td>
                                        <td>
                                            {{item.municipio}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>DEPARTAMENTO</td>
                                        <td>
                                            {{item.departamento}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>MESA</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider ; else falso7">
                                                {{item.nom_mesa}}
                                            </div>
                                            <ng-template #falso7>
                                                <div class="form-group">
                                                    <select [(ngModel)]="seletedLiderActualizar.id_mesa" class="form-control" name="item.id_mesa">
                                                        <option *ngFor="let item of mesaAux" [value]="item.id_mesa">{{item.nom_mesa}}</option>        
                                                    </select>

                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>TELEFONO</td>
                                        <td>
                                            <div *ngIf="seletedLiderActualizar.id_lider!=item.id_lider; else falso8">
                                                {{item.tel_lider}}
                                            </div>
                                            <ng-template #falso8>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="seletedLiderActualizar.tel_lider" class="form-control" id="tel_lider" name="tel_lider">
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="seletedLiderActualizar.id_lider==item.id_lider; else falso9">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-success" (click)="actualizacion()">Guardar</button>
                                <button type="button" class="btn btn-warning" (click)="cancelar()">Cancelar</button>
                            </div>
                        </div>
                        <ng-template #falso9>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-success" (click)="actualizar(item)">Editar</button>
                                <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>