body {
    text-align: center;
    justify-content: center;
}

.main {
    margin: 1%;
}

.row {
    margin: 1%;
    text-align: center;
}

.card {
    margin: 1%;
}

.card-header {
    text-align: center;
}

div .btn-group {
    width: 100%;
}

form button {
    margin: 10px;
}

table {
    background-color: white;
    width: 50%;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

th,
td {
    border: solid 1px black;
    padding: 20;
}

thead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: blanchedalmond;
    border-bottom: solid 5px #0d0e0d;
    color: black;
}

tr:nth-child(even) {
    background-color: rgb(164, 244, 250);
}

tr:hover td {
    background-color: rgb(14, 201, 201);
    color: white;
}

div .btn-group {
    width: 100%;
}