<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GEOLOCALIZACION</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/perfilCoordinador">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/coordinador">Coordinador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lider">Lider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/digitador">Digitador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/votante">Votante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contabilidad">Contabilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/geolocalizacion">Geolocalizacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugar">Lugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/barrio">Barrio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comuna">Comuna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugarMesa">Lugar Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mesa">Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historial">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registraduria">Registraduria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <div *ngFor='let item of geolocalizacion'>
            <div *ngIf="(((item.total)/2) - item.actual) >= 0; else falso">
                <agm-marker [latitude]="item.latitud" [longitude]="item.longitud" [label]="{text:item.nom_lugar}" [iconUrl]="{url:iconMapRed.iconUrl, scaledSize:{height:30, width:30}}">
                    <agm-info-window>
                        <h3>{{item.nom_lugar}}</h3>
                        <h3>Total Lugar: {{item.total}}</h3>
                        <h3>Actual: {{item.actual}}</h3>
                        <h3>diferencia: {{item.total - item.actual}} </h3>
                    </agm-info-window>
                </agm-marker>
            </div>
            <ng-template #falso>
                <agm-marker [latitude]="item.latitud" [longitude]="item.longitud" [label]="{text:item.nom_lugar}" [iconUrl]="{url:iconMapGreen.iconUrl, scaledSize:{height:30, width:30}}">
                    <agm-info-window>
                        <h3>{{item.nom_lugar}}</h3>
                        <h3>Total Lugar: {{item.total}}</h3>
                        <h3>Actual: {{item.actual}}</h3>
                        <div *ngIf='(item.total - item.actual) > 0; else falso9'>
                            <h3>diferencia: {{item.total - item.actual}} </h3>
                        </div>
                        <ng-template #falso9>
                            <h3>diferencia: {{item.actual-item.total}} </h3>
                        </ng-template>
                    </agm-info-window>
                </agm-marker>
            </ng-template>
        </div>
    </agm-map>

</body>

</html>