body {
    background-image: url('../../assets/img/fondo2.png');
    margin-bottom: -3%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

nav {
    border: solid 2px black;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: whitesmoke;
}

#main-container {
    margin: 80px auto;
    width: 470px;
    background-color: gray;
}

table {
    background-color: white;
    text-align: left;
    width: 95%;
    margin-left: 12px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

th,
td {
    border: solid 1px black;
    padding: 20;
}

thead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: blanchedalmond;
    border-bottom: solid 5px #0d0e0d;
    color: black;
}

tr:nth-child(even) {
    background-color: rgb(164, 244, 250);
}

tr:hover td {
    background-color: rgb(14, 201, 201);
    color: white;
}

td button {
    color: rgb(15, 15, 15);
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin: center;
    border: solid 1.5px black;
    border-radius: 5px;
    background-color: rgb(192, 188, 188);
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 50%;
}

h4 {
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100%;
    margin-top: 50px;
}

input {
    background-color: rgb(211, 207, 207);
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 10px;
    ;
}

td input {
    background-color: rgb(211, 207, 207);
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
}