<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MESA</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/perfilCoordinador">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/coordinador">Coordinador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lider">Lider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/digitador">Digitador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/votante">Votante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contabilidad">Contabilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/geolocalizacion">Geolocalizacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugar">Lugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/barrio">Barrio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comuna">Comuna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lugarMesa">Lugar Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/mesa">Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historial">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registraduria">Registraduria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <h4>Agregar Mesa </h4>
        <input type="text" [(ngModel)]="seletedMesaAgregar.nom_mesa" placeholder="NUMERO DE MESA" name="nom_mesa">
        <button (click)="guardar()">Agregar</button>

        <h4>Buscar </h4>
        <input type="text" placeholder="ID">
        <input type="text" placeholder="NUMERO DE MESA">
        <button>Aceptar</button>

        <h4>Lista de Mesas </h4>

    </div>
    <div id="main-container">

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>MESA</th>
                    <th>OPERACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mesas">
                    <td>{{item.id_mesa}}</td>
                    <td>
                        <div *ngIf="seletedMesaActualizar.id_mesa!=item.id_mesa; else falso">
                            {{item.nom_mesa}}
                        </div>
                        <ng-template #falso>
                            <input type="text" [(ngModel)]="seletedMesaActualizar.nom_mesa" placeholder="NUMERO DE MESA" name="nom_mesa">
                        </ng-template>
                    </td>
                    <td>
                        <div *ngIf="seletedMesaActualizar.id_mesa==item.id_mesa; else falso1">
                            <button (click)="actualizacion()">Guardar</button>
                        </div>
                        <ng-template #falso1>
                            <button (click)="actualizar(item)">Actualizar</button>
                            <button (click)="eliminar(item.id_mesa)">Eliminar</button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <br><br><br><br><br>




</body>

</html>